<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>MyWebProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>registrationDetails</display-name>
    <servlet-name>registrationDetails</servlet-name>
    <servlet-class>com.example.registrationDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrationDetails</servlet-name>
    <url-pattern>/registrationDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displayAttrbResults</display-name>
    <servlet-name>displayAttrbResults</servlet-name>
    <servlet-class>com.example.displayAttrbResults</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayAttrbResults</servlet-name>
    <url-pattern>/displayAttrbResults</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>setAtrributeArithmaticServlet</display-name>
    <servlet-name>setAtrributeArithmaticServlet</servlet-name>
    <servlet-class>com.example.setAtrributeArithmaticServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setAtrributeArithmaticServlet</servlet-name>
    <url-pattern>/setAtrributeArithmaticServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cookieServlet1</display-name>
    <servlet-name>cookieServlet1</servlet-name>
    <servlet-class>com.example.cookieServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookieServlet1</servlet-name>
    <url-pattern>/cookieServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cookieServlet2</display-name>
    <servlet-name>cookieServlet2</servlet-name>
    <servlet-class>com.example.cookieServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookieServlet2</servlet-name>
    <url-pattern>/cookieServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signUp</display-name>
    <servlet-name>signUp</servlet-name>
    <servlet-class>com.example.signUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signUp</servlet-name>
    <url-pattern>/signUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>urlRewServlet1</display-name>
    <servlet-name>urlRewServlet1</servlet-name>
    <servlet-class>com.example.urlRewServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>urlRewServlet1</servlet-name>
    <url-pattern>/urlRewServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UrlRewServlet2</display-name>
    <servlet-name>UrlRewServlet2</servlet-name>
    <servlet-class>com.example.UrlRewServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrlRewServlet2</servlet-name>
    <url-pattern>/UrlRewServlet2</url-pattern>
  </servlet-mapping>
</web-app>